services:
    ser.nagios.controller:
        class: ser\nagios\controller\main
        arguments:
            - @config
            - @dbal.conn
            - @controller.helper
            - @template
            - @user
