<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            {NAGIOS_STATUS}. phpBB version {CURRENT_VERSION} <!-- IF !S_UP_TO_DATE -->NOT<!-- ENDIF --> up to date. <!-- IF !S_UP_TO_DATE --><!-- BEGIN updates_available -->There is a new version {updates_available.current}. More information: {updates_available.announcement}<!-- END updates_available --><!-- ENDIF -->Active users: {NAGIOS_ACTIVE_USERS}.
        </p>
    </body>
</html>
