<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            <!-- IF !NAGIOS_ON -->CRITICAL. phpBB is disabled by the administrator. <!-- ELSE --><!-- IF !S_UP_TO_DATE -->WARNING. Board is enabled. <!-- IF VERSIONCHECK_FAIL_REASON -->It was not possible to check desired phpBB version: {VERSIONCHECK_FAIL_REASON}.<!-- ELSE -->phpBB version {CURRENT_VERSION} is NOT up to date.<!-- ENDIF --><!-- BEGIN updates_available -->There is a new version {updates_available.current}. More information: {updates_available.announcement}<!-- END updates_available --><!-- ELSE -->OK. Board is enabled. phpBB version {CURRENT_VERSION} is up to date.<!-- ENDIF --> {NAGIOS_ACTIVE_USERS} from {TOTAL_USERS} registered users activated their accounts. Topics: {NUM_TOPICS}. Posts: {NUM_POSTS}. Files: {NUM_FILES}.<!-- ENDIF -->
        </p>
    </body>
</html>
